// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-lowercase.mb-0 Video
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Video
                            .position-relative.mb-5(style='padding:50% 0 0 0;')
                                iframe.position-absolute.top-0.start-0.w-100.h-100(src='https://player.vimeo.com/video/146064123?h=360c843829&title=0&byline=0&portrait=0', allowfullscreen)
                            // Portfolio Modal - Text
                            p.text-black.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                | Close Window