// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-lowercase.mb-0 Video
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Video
                            .position-relative.mb-5(style='padding:50% 0 0 0;')
                                iframe.position-absolute.top-0.start-0.w-100.h-100(src='https://player.vimeo.com/video/146064123?h=360c843829&title=0&byline=0&portrait=0', allowfullscreen)
                            // Portfolio Modal - Text
                            .text-black.mb-4
                                p We are lucky to live in a glorious age that gives us #[strong everything] we could ask for as a human race. What more could you need when you have meat covered in cheese nestled between bread as a complete meal?
                                p From smashed patties at Shake Shack to Glamburgers at Honky Tonk, there's a little something for everyone. Some burgers are humble, and some are ostentatious, and you just have to try them all to figure out what you want.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                | Close Window