// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-lowercase.mb-0 Carousel with indicators
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Carousel with indicators
                            #carouselIndicators.carousel.slide(data-bs-ride='carousel')
                                .carousel-indicators
                                    button.btn-light.active(type='button', data-bs-target='#carouselIndicators', data-bs-slide-to='0', aria-label='Slide 1', aria-current='true')
                                    button.btn-light(type='button', data-bs-target='#carouselIndicators', data-bs-slide-to='1', aria-label='Slide 2')
                                    button.btn-light(type='button', data-bs-target='#carouselIndicators', data-bs-slide-to='2', aria-label='Slide 3')
                                .carousel-inner.rounded.mb-5
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/project-3-a.jpg', alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/project-3-b.jpg', alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/project-3-c.jpg', alt='...')
                                button.carousel-control-prev(type='button', data-bs-target='#carouselIndicators', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden
                                        | Previous
                                button.carousel-control-next(type='button', data-bs-target='#carouselIndicators', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden 
                                        | Next
                            // Portfolio Modal - Text
                            .text-black.text-start.mb-4
                                p There is debate on who painstakingly birthed our favourite monumental flavor creation into existence. What really matters is that, at the end of the day, we can collectively relish in the sweet glory of it all. From beef-to-bun ratio, "how much is too much?" cheese, and the careful alchemy of condiments, every cheeseburger is a small mountain of heaven.
                                p Any day without a cheeseburger in it is a waste. You can find a cheeseburger no matter where you go in the world, so you have no excuse to miss out on the glory that some people can only dream of. Step up to the plate.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                | Close