// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-lowercase.mb-0 Carousel with controls
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Carousel with controls
                            #project2.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner.rounded.mb-5
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/project-2-a.jpg', alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/project-2-b.jpg', alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/project-2-c.jpg', alt='...')
                                button.carousel-control-prev(type='button', data-bs-target='#project2', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden
                                        | Previous
                                button.carousel-control-next(type='button', data-bs-target='#project2', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden 
                                        | Next
                            // Portfolio Modal - Text
                            .text-black.text-start.mb-4
                                p They say you're never supposed to meet your idols. #[br] In this case, it's a good thing your idol is inanimate!
                                p Cheeseburgers are never going to give you up or let you down. They'll also never run around or desert you. They'll never make you cry, unless it's from sheer joy. Cheeseburgers certainly won't say goodbye either. Finally, cheeseburgers are incapable of telling lies or hurting you.
                                p On the flip side, they can still Rick Roll you.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                | Close