// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-lowercase.mb-0 Carousel with crossfade
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Carousel with crossfade
                            #carouselCrossfade.carousel.slide.carousel-fade(data-bs-ride='carousel')
                                .carousel-indicators
                                    button.btn-light.active(type='button', data-bs-target='#carouselCrossfade', data-bs-slide-to='0', aria-label='Slide 1', aria-current='true')
                                    button.btn-light(type='button', data-bs-target='#carouselCrossfade', data-bs-slide-to='1', aria-label='Slide 2')
                                    button.btn-light(type='button', data-bs-target='#carouselCrossfade', data-bs-slide-to='2', aria-label='Slide 3')
                                .carousel-inner.rounded.mb-5
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/carousel-crossfade-1.jpg', alt='...')
                                        .carousel-caption.d-none.d-md-block
                                            h5.text-white.text-lowercase Lorem ipsum dolor sit amet
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/carousel-crossfade-2.jpg', alt='...')
                                        .carousel-caption.d-none.d-md-block
                                            h5.text-white.text-lowercase Consectetur adipisicing elit
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/carousel-crossfade-3.jpg', alt='...')
                                        .carousel-caption.d-none.d-md-block
                                            h5.text-white.text-lowercase Mollitia neque assumenda
                                button.carousel-control-prev(type='button', data-bs-target='#carouselCrossfade', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden
                                        | Previous
                                button.carousel-control-next(type='button', data-bs-target='#carouselCrossfade', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden 
                                        | Next
                            // Portfolio Modal - Text
                            p.text-black.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                | Close Window