doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title pholio &middot; 404

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32' href='assets/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16' href='assets/favicon-16x16.png')
        link(rel='manifest', href='assets/site.webmanifest')

        // Style
        link(href='css/styles.css', rel='stylesheet')

    body.bg-primary 

        .jumbotron.position-absolute.top-50.start-50.translate-middle
            .container.d-flex.align-items-center.flex-column.jumbotron.text-center.text-white
                h1.text-lowercase.mb-0 404
                h2.text-lowercase.mb-4 Page not found
                a.btn.btn-outline-light.btn-social.mx-1(href='/')
                    i.fas.fa-fw.fa-arrow-left

        // Bootstrap JS
        script(src='js/bootstrap.js')

        // Font Awesome JS
        script(src='js/all.js')

        // Theme JS
        script(src='js/scripts.js')