doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title pholio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32' href='assets/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16' href='assets/favicon-16x16.png')
        link(rel='manifest', href='assets/site.webmanifest')

        // Style
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-lowercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') Pholio Theme
                button.navbar-toggler.text-lowercase.fw-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') Portfolio
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#activities') Activities

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Avatar
                img.masthead-avatar.mb-5.rounded-circle(src='assets/img/photo.jpg', alt='...')
                // Heading
                h1.masthead-heading.text-lowercase.mb-0 Pholio
                // Divider
                .divider-custom.divider-light
                    .divider-custom-line
                // Subheading
                p.masthead-subheading.font-weight-light.mb-0 Custom Bootstrap portfolio theme

        // Portfolio
        section#portfolio.page-section.portfolio
            .container
                // Heading
                h2.page-section-heading.text-center.text-lowercase.text-secondary.mb-0 Portfolio
                // Divider
                .divider-custom
                    .divider-custom-line
                // Grid
                .row.justify-content-center
                    // Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 1
                                    p Image
                            img.img-fluid(src='assets/img/portfolio/image.jpg', alt='...')
                    // Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 2
                                    p Carousel with controls
                            img.img-fluid(src='assets/img/portfolio/carousel-controls-1.jpg', alt='...')
                    // Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 3
                                    p Carousel with indicators
                            img.img-fluid(src='assets/img/portfolio/carousel-indicators-1.jpg', alt='...')
                    // Item 4
                    .col-md-6.col-lg-4.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 4
                                    p Carousel with captions
                            img.img-fluid(src='assets/img/portfolio/carousel-captions-1.jpg', alt='...')
                    // Item 5
                    .col-md-6.col-lg-4.mb-5.mb-md-0
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal5')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 5
                                    p Carousel with crossfade
                            img.img-fluid(src='assets/img/portfolio/carousel-crossfade-1.jpg', alt='...')
                    // Item 6
                    .col-md-6.col-lg-4
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal6')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    em Project 6
                                    p Video
                            img.img-fluid(src='assets/img/portfolio/video.jpg', alt='...')

        // About
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // Heading
                h2.page-section-heading.text-center.text-lowercase.text-white About
                // Divider
                .divider-custom.divider-light
                    .divider-custom-line
                // Content
                .row
                    .col-lg-4.ms-auto
                        p.lead A holistic understanding of usage can aid in prioritizing first-order strategies. We need to leverage our synergies. Productize line items or go back to the drawing board. How about scaling deliverables to a global audience? Let's solutionize this right now.
                    .col-lg-4.me-auto
                        p.lead Get all your ducks in a row, but with machine learning. Pivot to a shotgun approach. Big data! Optics! Weaponize the cloud and level the playing field. We need to synergize our leverage, so samepage all stakeholders.
                // Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-light.fw-bold(href='https://github.com/piazzai/pholio') Drive adoption!

        // Activities
        section#activities.page-section
            .container
                // Heading
                h2.page-section-heading.text-center.text-lowercase.text-secondary.mb-0 Activities
                // Divider
                .divider-custom
                    .divider-custom-line
                // Content
                .row
                    ol.list-group.list-group.numbered
                        li.list-group-item.d-flex.justify-content-between.align-items-start
                            .ms-2.me-auto
                                p.fw-bold Subheading 
                                p Cras justo odio

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Contact
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-lowercase.mb-4 Contact
                        p.lead.mb-0
                            | 2215 John Daniel Drive
                            br
                            | Clark, MO 65243
                    // Social
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-lowercase.mb-4 Social networks
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            | A
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            | B
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            | C
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            | D
                    // About
                    .col-lg-4
                        h4.text-lowercase.mb-4 About Pholio

        // Copyright
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright &copy; Your Website 2022

        // Modals
        include includes/portfolio-modal-1.pug
        include includes/portfolio-modal-2.pug
        include includes/portfolio-modal-3.pug
        include includes/portfolio-modal-4.pug
        include includes/portfolio-modal-5.pug
        include includes/portfolio-modal-6.pug

        // Bootstrap JS
        script(src='js/bootstrap.bundle.min.js')

        // Theme JS
        script(src='js/scripts.js')