// 
// Fonts
// 

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/AlegreyaSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/AlegreyaSans-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/AlegreyaSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../assets/fonts/AlegreyaSansSC-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../assets/fonts/AlegreyaSansSC-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../assets/fonts/AlegreyaSansSC-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../assets/fonts/AlegreyaSansSC-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
